<mat-toolbar color="primary">
  <ul fxFlex fxLayout fxLayoutGap="20px">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/about">About</a>    
      </li>
      <li *ngIf="authService.isAuthenticated()"> 
        <a routerLink='/'>Welcome {{username}}!</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
         <a routerLink='/order'>My Orders</a>
      </li>
      <a *ngIf="authService.isAdmin() && authService.isAuthenticated()" routerLink="dog/create">Create</a>
      <a *ngIf="authService.isAdmin() && authService.isAuthenticated()" routerLink="dog/list">List</a>
    </ul>
<ul *ngIf="!authService.isAuthenticated()" fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
  <li>
      <a routerLink="/login">login</a>    
  </li>
  <li>
    <a routerLink="/register">register</a>
  </li>    
</ul>


<a  *ngIf="authService.isAuthenticated()" routerLink='/' (click)="logout()">Logout</a>
</mat-toolbar>