.Home span {
    background: #7b1fa2;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white
  }
  
  .Home {
    text-align: center;
    margin: 0;
    margin-bottom: 30px
  }
  
  /* .all-products {
    display: flex;
    margin: 0;
    
  } */
  
  .products li {
    display: inline-block;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 20%;
  }
  
  /* .product {
    display: inline-block;
  } */
  
  .product section {
    text-align: center;
    display: grid;
  }
  
  .Home img {
    margin: 0 auto;
    height: 300px;
    width: 200px;
  }
  
  .butons div {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
  }
  
  .btn {
    display: inline-block;
    width: 80px;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    background-color:#7b1fa2;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .btn:hover {
    color: #7b1fa2;
    background: transparent;
  }
  
  